[submodule "vendor/gitmodules/tmux-powerline"]
	path = vendor/gitmodules/tmux-powerline
	url = https://github.com/namikingsoft/tmux-powerline.git
[submodule "vendor/gitmodules/tpm"]
	path = vendor/gitmodules/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vendor/gitmodules/asdf"]
	path = vendor/gitmodules/asdf
	url = https://github.com/asdf-vm/asdf.git
