[include]
    # ユーザー設定はバージョン管理外で管理
    path = ~/.gitconfig.local
[core]
    # エディター設定
    editor = vim
    # 全体的な無視ファイル設定
    excludesfile = ~/.gitconfig.ignore
    # 日本語ファイル有効化(Mac用)
    precomposeunicode = true
[color]
    # 全コマンドをカラー化
    ui = auto
[alias]
    # 基本設定
    co = checkout
    cob = checkout -b
    cm = commit
    st = status
    ss = status -s
    br = branch
    brm = branch -m
    brd = branch -d
    brD = branch -D
    pl = pull
    ps = push
    mg = merge
    rs = rebase
    df = diff
    ad = add
    s  = svn
    # git diff のvimdiff版
    vimdiff = difftool --tool=vimdiff --no-prompt
    vdf     = difftool --tool=vimdiff --no-prompt
    # git log の木構造表示
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    # マージ済みのローカルブランチを削除する
    sweep = !git branch --merged | grep -v '*' | grep -v 'master' | grep -v 'develop' | xargs -I % git branch -d %
    # 管理内のファイル更新を無視する
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[a-z]"
[push]
    # push形式
    default = matching
