[include]
    # ユーザー設定はバージョン管理外で管理
    path = ~/.gitconfig.local
[core]
    # エディター設定
    editor = vim
    # 全体的な無視ファイル設定
    excludesfile = ~/.gitconfig.ignore
[color]
    # 全コマンドをカラー化
    ui = auto
[alias]
    # git log の木構造表示
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    # マージ済みのローカルブランチを削除する
    clean-branch = !git branch --merged | grep -v '*' | grep -v 'master' | grep -v 'develop' | xargs -I % git branch -d %
