[include]
    # ユーザー設定はバージョン管理外で管理
    path = ~/.gitconfig.local
[core]
    # エディター設定
    editor = vim
    # 全体的な無視ファイル設定
    excludesfile = ~/.gitconfig.ignore
    # 日本語ファイル有効化(Mac用)
    precomposeunicode = true
[color]
    # 全コマンドをカラー化
    ui = auto
[alias]
    # 基本設定
    co = checkout
    cob = checkout -b
    commita = commit -a
    commite = commit --allow-empty -m 'Initial Commit'
    commit-amend-now = commit --amend "`date`"
    cp = cherry-pick
    fetpr = fetch --prune
    pr = commit --allow-empty -m 'chore(git): make pull request [ci skip]'
    wip = commit -m 'WIP'
    wipa = !git ada && git wip
    skip = commit -m '[ci skip]'
    skipa = !git ada && git skip
    ss = status -s
    ls = log --name-status
    br = branch
    brm = branch -m
    brd = branch -d
    brdf = branch -D
    # マージ済みのローカルブランチを削除する (squash merge 対応)
    brdall = !git-branch-delete-all
    pushf = push --force-with-lease
    pushe = push heroku master
    mergef = merge --ff
    mergefo = merge --ff-only
    ada = add --all
    adda = add --all
    adi = add -i
    addi = add -i
    fixup = commit --amend --no-edit
    fixupa = !git ada && git fixup
    # git diff のvimdiff版
    vimdiff = difftool --tool=vimdiff --no-prompt
    vdf     = difftool --tool=vimdiff --no-prompt
    # git log の木構造表示
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'

    # 管理内のファイル更新を無視する
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[a-z]"
[push]
    # push形式
    default = matching
[rebase]
	autosquash = true
[commit]
	template = ~/.gitmessage.local
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[user]
	signingkey = ~/.ssh/id_rsa.pub
[init]
	defaultBranch = main
